{% extends 'base.html' %}

{% block content %}
<div>
  <div class="container pt-4 ">
    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto p-0 shadow ">
        <div class="alert alert-info">
          <h2>Add new TODO </h2>
        </div>
        <div class="p-4">
          <form action="/addtodo" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="Add" class="btn btn-info">
          </form>
        </div>
      </div>


      <div class="col">
        <div class="border">

          <!-- starts  -->
          {% if todos|length == 0 %}
          <div class="p-4">
            <br>
            <br>
            <div class="alert alert-info text-center">
              <p class="" style="font-size: 30px;">No Todos to show</p>
            </div>
            <br>
            <br>
          </div>
          {% else %}



          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Actions</th>
                  

                </tr>
              </thead>
              <tbody>

                {% for todo in todos %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{todo.title}}</td>
                  <td>
                    {% if todo.status == 'C' %}
                    ✅
                    {% else %}
                    ⏲️
                    {% endif %}






                  </td>
                  <td>{{todo.priority}}</td>
                  <td>
                    <a href="/delete-todo/{{todo.id}}" title="Delete" class="">🗑️</a>
                    {% if todo.status == 'C' %}
                    <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="">⏲️</a>
                    {% else %}

                    <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="">✅</a>
                    {% endif %}
                    
                  </td>
                </tr>

                {% endfor %}


              </tbody>
            </table>
          </div>

          {% endif %}



        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}